<style>
	.red {background-color:red;}
	.white{background-color:white;}

</style>

<div class="row">
	<div class="col-sm-12" ng-show="buttonText">
		<div class="panel panel-default">
			<div class="panel-heading">Exercise
				<button type="button" class="close" ng-click="close()">&times;</button>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
					<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
					<form ng-submit="submitExercise()" name="exerciseForm" novalidate>
						<div class="form-group col-md-12" >
						    <legend>Exercise</legend>
						    <div class="form-group col-md-4"  
								ng-class="{ 'has-error': exerciseForm.type.$invalid && exerciseForm.type.$dirty }">
								<label for="type">Type:</label><input type="text" required
								class="form-control" ng-model="exercise.type"
								id="type" name="type"> 
							</div>
							<div class="form-group col-md-4"  
								ng-class="{ 'has-error': exerciseForm.fee.$invalid && exerciseForm.fee.$dirty }">
								<label for="fee">Fee:</label><input type="text" required
								class="form-control" ng-model="exercise.fee"
								id="fee" name="fee"> 
							</div>
						</div>
						<div class="form-group col-md-4">
							<button type="submit" class="btn btn-default"
								ng-disabled="exerciseForm.$invalid">{{buttonText}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-sm-12" ng-show="viewButton">
		<div class="panel panel-default">
			<div class="panel-heading">Exercise Detail
				<button type="button" class="close" ng-click="close()">&times;</button>
			</div>
			<div class="panel-body">
				<div class="form-group col-md-12" >
				    <legend>Exercise</legend>
				    <div class="form-group col-md-4" >
						<label for="type">ExerciseType:</label> {{exercise.type}}
					</div>
					<div class="form-group col-md-4" >
						<label for="fee">ExerciseFee:</label> {{exercise.fee}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-4">
						Exercises
					</div>
					<div class="col-sm-4">
						<input class="glyphicon glyphicon-search form-control" type="text" ng-model="search" placeholder="Search by ExerciseType"></input>
						<i class='fa fa-search' id="search"></i>
					</div>
					<div class="col-sm-4">
						<button class="btn btn-default btn-sm close"
							ng-click="initAddExercise()">
							 <span class="glyphicon glyphicon-exercise"></span> &nbsp;New Exercise
						</button>
					</div>
				</div>
			</div>
			<div class="panel-body">

				<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>#</th>
									<th ng-click="changeSorting('type')">Type <i class="glyphicon" ng-class="getIcon('type')"></i></th>
									<th ng-click="changeSorting('fee')">Fee <i class="glyphicon" ng-class="getIcon('fee')"></i></th>
<!-- 									<th ng-click="changeSorting('totalFee')">TotalFee <i class="glyphicon" ng-class="getIcon('totalFee')"></i></th> -->
<!-- 									<th ng-click="changeSorting('packages')">Package <i class="glyphicon" ng-class="getIcon('packages')"></i></th> -->
<!-- 									<th ng-click="changeSorting('extraPackages')">ExtraPackage <i class="glyphicon" ng-class="getIcon('extraPackages')"></i></th> -->
<!-- 									<th ng-click="changeSorting('submittedFee')">SubmittedFee <i class="glyphicon" ng-class="getIcon('submittedFee')"></i></th> -->
<!-- 									<th ng-click="changeSorting('balanceFee')">BalanceFee <i class="glyphicon" ng-class="getIcon('balanceFee')"></i></th> -->
<!-- 									<th ng-click="changeSorting('feeDiscount')">FeeDiscount <i class="glyphicon" ng-class="getIcon('feeDiscount')"></i></th> -->
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="exercise in exercises | filter : search | orderBy:sort.active:sort.descending">
									<td>{{$index+1}}</td>
									<td>{{exercise.type}}</td>
									<td>{{exercise.fee}}</td>
<!-- 									<td>{{exercise.totalFee}}</td> -->
<!-- 									<td>{{exercise.packages}}</td> -->
<!-- 									<td>{{exercise.extraPackages}}</td> -->
<!-- 									<td>{{exercise.submittedFee}}</td> -->
<!-- 									<td>{{exercise.balanceFee}}</td> -->
<!-- 									<td>{{exercise.feeDiscount}}</td> -->
									<td><button type="button" class="btn btn-default btn-sm"
											ng-click="initViewExercise(exercise)">
											<span class="glyphicon glyphicon-eye-open"></span>
										</button>
										<button type="button" class="btn btn-default btn-sm"
											ng-click="initEditExercise(exercise)">
											<span class="glyphicon glyphicon-pencil"></span>
										</button>
										<button type="button" class="btn btn-default btn-sm"
											ng-click="deleteExercise(exercise)">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
